/* CSS skin Style */
/* reset */
dl, dt, dd, ol, ul, li {
	list-style:none;
	list-style-type:none;
	margin:0;
	padding:0;
}


/* 리스트 */
.yhyh_list {
	width:100%;
	margin:auto;
	padding:20px 0px;
	
}
.yhyh_list #List_Check_Main {
	cursor:pointer;
}
.yhyh_list > table {
	width:95%;
	margin:auto;
	*border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0; 
	
}
.yhyh_list_header {
	overflow:hidden;
	display:block;
	width:95%;
	height:100px;
	margin:auto;
	
	position:relative;
}
.yhyh_list_header > p {
	display:block;
	float:left;
	padding:0px 10px 0px;
	
	font-size:11px !important;
	line-height:15px;
	
	position:absolute;
	
	bottom:5px;
}
.yhyh_list_header > .list_header_center {
	display:block;
	width:100%;
	
	position:absolute;
}
.yhyh_list_header > .list_header_center > div {
	display:block;
	width:430px;
	margin:20px auto;
	
	font-family:Century Gothic, Verdana, Geneva, sans-serif;
	font-size:40px;
	line-height:45px;
	
	overflow:hidden;
}
.yhyh_list_header > .list_header_center > div > span {
	display:block;
	float:left;
	
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F6F6F6));
	background-image: -webkit-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -moz-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -ms-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -o-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: linear-gradient(top, #ffffff, #F6F6F6);
	
	border:1px solid #CCC;
	-webkit-box-shadow : 0 2px 3px #EEE;
	-moz-box-shadow : 0 2px 3px #EEE;
	box-shadow : 0 2px 3px #EEE;
	
	color:#333;
	font-weight:bolder;
	
	position:relative;
	margin:5px 5px;
	padding:0px 10px;
	
	overflow:hidden;
}
.yhyh_list_header > .list_header_center > div > span.calendar_year {
	width:90px;
	height:45px;
}
.yhyh_list_header > .list_header_center > div > span.calendar_month {
	width:40px;
	height:45px;
}
.yhyh_list_header > .list_header_center > div > span > p {
	display:block;
	
	position:absolute;
	right:10px;
	top:0px;
}
.yhyh_list_header > .list_header_center > div > a {
	display:block;
	float:left;
	
	border:1px solid #fff;

	-moz-transition: color .2s, border .2s,background .2s;
	-webkit-transition: color .2s, border .2s,background .2s;
	transition-property: color, border, background;
	transition-duration: 0.2s, 0.2s;
	transition-timing-function: ease, ease;
	transition-delay: 0s, 0s;
	
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	
	-moz-box-shadow : 0 0px 0px #EEE;
	box-shadow:0  0px 0px #EEE;
	-webkit-box-shadow:0 0px 0px #EEE;
	
	text-shadow: 1px 1px 0 white;
	
	color:#900;
	line-height:0.9em !important;
	text-decoration:none;
	font-size:0.5em !important;
	font-weight:bolder;
	
	padding:5px 10px 5px;
	margin:13px 15px 0;
}
.yhyh_list_header > .list_header_center > div > a:hover {
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F6F6F6));
	background-image: -webkit-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -moz-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -ms-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -o-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: linear-gradient(top, #ffffff, #F6F6F6);
	
	border:1px solid #CCC;
	-webkit-box-shadow : 0 2px 3px #EEE;
	-moz-box-shadow : 0 2px 3px #EEE;
	box-shadow : 0 2px 3px #EEE;
	
	color:#06C;
}

.yhyh_list_header > .list_header_right {
	display:block;
	
	position:absolute;
	right:0px;
	bottom:4px;
}
.yhyh_list_header > .list_header_right > a {
	padding:1px 7px 0px;
	font-size:11px !important;
	line-height:15px;
}
.yhyh_list > table > thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F6F6F6));
	background-image: -webkit-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -moz-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -ms-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -o-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: linear-gradient(top, #ffffff, #F6F6F6);
}
.yhyh_list > table > thead > tr > th {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	background:url(../../../common/image/board_title_bg.gif) no-repeat right center;
	padding:10px 0px 7px;
	text-align:center;
	word-wrap:break-word;
	white-space:nowrap;
}
.yhyh_list > table > thead > tr > th:first-child {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
}
.yhyh_list > table > thead > tr > th:last-child{
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
	background:url() no-repeat right center;
}
.yhyh_list > table > thead > tr > th.last  {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
	background:url() no-repeat right center;
}
.yhyh_list > table > tfoot > tr > td.footer {
	height:45px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	border: 1px solid #CCC;
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F6F6F6));
	background-image: -webkit-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -moz-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -ms-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -o-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: linear-gradient(top, #ffffff, #F6F6F6);
	padding:0px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	
	position:relative;
}
.yhyh_list > table > tbody > tr:nth-child(even) {
	background: #F5F5F5;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
}
.yhyh_list > table > tbody > tr > td:first-child {
	border-left: 1px solid #CCC;
}
.yhyh_list > table > tbody > tr > td:last-child {
	border-right: 1px solid #CCC;
}
.yhyh_list > table > tbody > tr > td.last{
	border-right: 1px solid #CCC;
}
.yhyh_list > table > tbody > tr > td {
	padding: 10px;
	text-align:center;
	line-height:1.4em;
}
.yhyh_list > table .title {
	text-align:left;
}
.yhyh_list > table .title a {
	text-decoration:none;
	color:#333;
}
.yhyh_list > table .title a:hover {
	color:#666;
}

.yhyh_list > table > tbody > tr > td .ellipsis_title {
	display:inline-block;
	width:auto;
	padding:2px 0 0 0;
	vertical-align:middle;
	overflow:hidden;
	/*white-space:nowrap;*/
	line-height:1.3em;
	text-overflow:ellipsis;
	-o-text-overow:ellipsis;
	-moz-binding:url(js/ellipsis.xml#ellipsis);
}
.yhyh_list > table > tbody > tr > td .ellipsis {
	display:block;
	width:100px;
	padding:2px 0 0 0;
	vertical-align:middle;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overow:ellipsis;
	-moz-binding:url(js/ellipsis.xml#ellipsis);
}

.yhyh_list_paging {
	text-align:center;
	padding:7px 0px;
}
.yhyh_list_paging > div > span > a , .yhyh_list_paging > div > span > span {
	margin:0 1px 0 0;
	padding:5px 8px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.0em;
	font-weight:normal;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	text-decoration: none !important;
	-moz-transition: border .4s,background .4s;
	-webkit-transition: border .4s,background .4s;
	transition-property: border, background;
	transition-duration: 0.4s, 0.4s;
	transition-timing-function: ease, ease;
	transition-delay: 0s, 0s;
}
.yhyh_list_paging > div > span > a {
	color:#868686;
	border: 1px solid #F5F5F5;
	border-color:transparent;
	box-shadow: 1 0px 0px #CCC;
	-webkit-box-shadow: 1 0px 0px #CCC;
}
.yhyh_list_paging > div > span > a:hover {
	border: 1px solid #CCC;
	border-radius: 3px;
	box-shadow: 1 1px 3px #CCC;
	-webkit-box-shadow: 1 1px 3px #CCC;
	text-shadow: 1px 1px 0 white;
	background-color:#FFF;
}
.yhyh_list_paging > div > span > span {
	color:#09F;
	border: 1px solid #CCC;
	border-radius: 3px;
	box-shadow: 0 1px 1px #EEE;
	-webkit-box-shadow: 0 1px 1px #EEE;
	text-shadow: 1px 1px 0 white;
	text-decoration: none !important;
}

.yhyh_list_bottom {
	display:block;
	width:100%;
	height:45px;
	
	position:relative;
}
.yhyh_button_footer_left {
	position:absolute;
	top:17px;
	left:15px;
}
.yhyh_button_footer_right {
	position:absolute;
	top:7px;
	right:15px;
}

.yhyh_list_paging > span > a {
	padding:5px 15px;
}
.numberFont {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:0.9em !important;
	white-space:nowrap;
}

#schedule_layout {
	display:block;
	width:95%;
	height:650px;
	
	/*border:1px solid #FF0000;*/
		
	position:relative;
	margin:10px auto;
	padding:0px 0 0 0;
	
	overflow:hidden;
}

.day_container {
	display:block;
	width:100%;
	height:100%;
	
	/*background:#F4F4F4;*/
	
	position:absolute;
}
.day_container > div {
	display:block;
	width:100%;
	
	position:absolute;
}
.day_div {
	display:block;
	height:100px;
	
	text-shadow: 0 1px 1px #FFF;
	
	position:absolute;
	padding:0px;
	overflow:hidden;
}
.day_div > a {
	display:block;
	border:1px solid #DBDBDB;
	/*background: #FFF;*/
	
	-moz-transition: border .4s,background .4s,left .4s,top .4s,width .4s,height .4s;
	-webkit-transition: border .4s,background .4s,left .4s,top .4s,width .4s,height .4s;
	transition-property: border, background, left, top, width, height;
	transition-duration: 0.4s, 0.4s;
	transition-timing-function: ease, ease;
	transition-delay: 0s, 0s;
	
	-webkit-box-shadow : 0 0px 0px #EEE;
	-moz-box-shadow : 0 0px 0px #EEE;
	box-shadow : 0 0px 0px #EEE;
	
	text-decoration:none;
	color:#333;
	
	position:absolute;
	top:3px;
	left:3px;
	z-index:3;
}
.day_div > a:hover {
	background:#FFF;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	
	border:1px solid #999;
	-webkit-box-shadow : 0 1px 10px #CCC;
	-moz-box-shadow : 0 1px 10px #CCC;
	box-shadow : 0 1px 10px #CCC;
}
.day_div > p {
	display:block;
	
	line-height:45px !important;
	font-size:40px !important;
	font-family:Century Gothic, Verdana, Geneva, sans-serif !important;
	font-weight:bolder !important;
	color:#EBEBEB;
	text-align:right !important;
	
	-moz-transition: color .2s;
	-webkit-transition: color .2s;
	transition-property: color;
	transition-duration: 0.2s, 0.2s;
	transition-timing-function: ease, ease;
	transition-delay: 0s, 0s;
	
	position:absolute;
	bottom:0px;
	left:15px;
	z-index:2;
	
	text-align:right;
}
.no_day_div > p {
	color:#F4F4F4;
}
.day_div > p.sun {
	color:#FEEBEB;
}
.day_div > p.sat {
	color:#E3F1FD;
}
.day_div > p.sun_over {
	color:#F58787;
}
.day_div > p.sat_over {
	color:#3399FF;
}
.day_div > p.normal_over {
	color:#666666;
}
.day_div > a > p {
	display:block;
	visibility:hidden;
	
	font-size:15px;
	font-family:Century Gothic, Verdana, Geneva, sans-serif;
	font-weight:bolder;
	color:#333;
	
	padding:5px;
}
.day_div > a > ul {
	display:block;
	width:90%;
	height:90%;
	
	margin:5px auto;
	overflow:hidden;
}

.day_div > a > ul > li {
	display:block;
	padding:1px 0 0 0;
	
	font-size:11px;
	line-height:13px;
	white-space:nowrap;
	
	color:#888;
}

/* 팝업 공용 */

.yhyh_pop_body {
	display:block;
	
	background:#FFF;
	
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	
	-webkit-box-shadow : 0 2px 15px #000;
	-moz-box-shadow : 0 2px 15px #000;
	box-shadow : 0 2px 15px #000;
	
	position:relative;
}

.yhyh_pop_body form,
.yhyh_pop_body form fieldset {
	display:block;
	width:100%;
}

legend {
	display:none;
	visibility:hidden;
}


.yhyh_pop_header {
	display:block;
	height:35px;
	
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F6F6F6));
	background-image: -webkit-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -moz-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -ms-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -o-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: linear-gradient(top, #ffffff, #F6F6F6);
	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	
	border-bottom:1px solid #CCC;
	
	overflow:hidden;
}
.yhyh_pop_header > h3 {
	display:block;
	float:left;
	height:20px;
	
	font-size:18px;
	font-family:Century Gothic, Verdana, Geneva, sans-serif;
	text-indent:10px;
	line-height:18px;
	
	text-shadow: 1px 1px 0 white;
	
	padding:8px 0 0 0;
}
.yhyh_pop_header > a {
	display:block;
	float:right;
	
	margin:7px 5px 0 0;
}


.yhyh_pop_content {
	display:block;
	width:95%;
	
	margin:10px auto;
}
.yhyh_pop_content > ul {
	display:block;
	width:100%;
	overflow:auto;
	height:400px;
}
.yhyh_pop_content > ul > li {
	display:block;
	width:100%;
	
	/*border-bottom:1px solid #EEE;*/
	padding:10px 0px 10px;
	color:#333;
}
.yhyh_pop_content > ul > li:last {
	border:1px hidden #FFF;
}
.yhyh_pop_content > ul > li > ul {
	display:block;
	width:500px;
}
.yhyh_pop_content > ul > li > ul > li {
	overflow:hidden;
}
.view_pop_list_date {
	display:block;
	line-height:1em;
	
	color:#888;
}
.view_pop_list_date > a {
	display:block;
	float:left;
	
	border:1px solid #FFF;
	
	line-height:1.1em;
	text-decoration:none;
	color:#BBB;
	text-align:center;
	font-size:11px;
	font-family:Tahoma, Verdana, Century Gothic;
	
	margin:0px 3px;
	padding:5px 3px 4px;
}

.view_pop_list_date > span {
	display:block;
	float:left;
	
	margin:0px 0px;
	padding:5px 2px;
}

.view_pop_list_title {
	display:block;
	width:100%;
	line-height:1em;
	
	/*background:#F6F6F6;*/
	border:1px solid #EBEBEB;
	
	-moz-transition: border .4s,background .4s,left .4s,top .4s,width .4s,height .4s, display .4s;
	-webkit-transition: border .4s,background .4s,left .4s,top .4s,width .4s,height .4s, display .4s;
	transition-property: border, background, left, top, width, height, display;
	transition-duration: 0.4s, 0.4s;
	transition-timing-function: ease, ease;
	transition-delay: 0s, 0s;
	
	line-height:1.1em;
	text-decoration:none;
	color:#666;
	text-align:center;
	
	font-weight:bolder;
	
	margin:0px 2px;
	padding:1px 0px 0px;
	
	overflow:hidden;
}
.view_pop_list_title:hover {
	border:1px solid #dfdfdf;
}
.view_pop_list_title > span {
	display:block;
	float:left;
	
	line-height:1.1em;
	text-decoration:none;
	color:#666;
	text-align:center;
	
	margin:0px 7px;
	padding:5px 0px 4px;
}
.view_pop_list_title > a {
	display:none;
	float:right;
	
	-moz-transition: border .4s,background .4s,left .4s,top .4s,width .4s,height .4s, display .4s;
	-webkit-transition: border .4s,background .4s,left .4s,top .4s,width .4s,height .4s, display .4s;
	transition-property: border, background, left, top, width, height, display;
	transition-duration: 0.4s, 0.4s;
	transition-timing-function: ease, ease;
	transition-delay: 0s, 0s;
	
	color:#06C;
	font-weight:normal;
	
	margin:0px 5px 0px 5px;
	padding:4px 5px;
}
.view_pop_list_title > a:last {
	margin:0px 10px 0px 5px;
}
.view_pop_list_title:hover > a {
	display:inline-block;
}
.view_pop_list_title:hover > a:hover {
	color:#039;
}

.view_pop_list_content {
	display:none;
	
	/*border:1px solid #EEE;*/
	/*background:#F6F6F6;*/
	
	line-height:1.3em;
	padding:10px;
	margin:5px 0px 0 2px;
}

.yhyh_pop_footer {
	display:block;
	width:100%;
	height:35px;
	
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F6F6F6));
	background-image: -webkit-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -moz-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -ms-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: -o-linear-gradient(top, #ffffff, #F6F6F6);
	background-image: linear-gradient(top, #ffffff, #F6F6F6);
	
	border-top:1px solid #CCC;
	
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	
	position:absolute;
	bottom:0px;
}
.yhyh_pop_footer > a {
	display:block;
	
	position:absolute;
	right:5px;
	bottom:6px;
}
.yhyh_pop_footer > a.view_new_schedule {
	width:150px;
	left:200px;
	bottom:6px;
}
.yhyh_pop_footer > input {
	display:block;
	width:150px;
	
	position:absolute;
	left:210px;
	bottom:5px;
}

/* 일정 자세히 보기 */

/* 신규 일정 등록 */

.yhyh_input_text,
.yhyh_input_text_hidden {
	position:relative;
	height:25px;
	text-align:left;
	padding:7px 0px;
	line-height:1em;
	border-top:1px solid #DDD;
}
.yhyh_input_text_hidden {
	/*visibility:hidden;*/
}

.input_text_height_max {
	padding:10px 0px;
}

.yhyh_input_text input[type=radio],
.yhyh_input_text input[type=checkbox] {
	margin:0 0px 0 15px;
}

.yhyh_input_text span.field_title {
	text-align:left;
	padding:0px 5px 0px 3px;
	vertical-align:middle;
}

.yhyh_input_text span.field_title b {
	color:#09F;
	padding:0px 4px 0px 0px;
}

.yhyh_input_text label.placeHolder {
	cursor:text;
	position:absolute;
	visibility:hidden;
}

.yhyh_textarea {
	padding:7px 0px;
	border-top:1px solid #DDD;
}

#yhb_title {
	width:510px;
}
#yhb_content {
	width:510px;
	height:200px;
}



