/* CSS group_skin Style */
/* 공통 스타일 */
table.yhyh_table_member {
	width:100%;
	border-collapse:separate;
	border-spacing:7px;
	border:0px;
}
table.yhyh_table_member > tbody > tr > th {
	text-align:right;
	padding:0px 10px;
	/*
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F6F6F6));
	background-image: -webkit-linear-gradient(left, #ffffff, #F6F6F6);
	background-image: -moz-linear-gradient(left, #ffffff, #F6F6F6);
	background-image: -ms-linear-gradient(left, #ffffff, #F6F6F6);
	background-image: -o-linear-gradient(left, #ffffff, #F6F6F6);
	background-image: linear-gradient(left, #ffffff, #F6F6F6);
	*/
	border-right:1px solid #DDD;
	font-weight:normal;
	word-break:break-strict;
	width:120px;
}
table.yhyh_table_member > tbody > tr > td {
	padding:0px 5px !important;
}
table.yhyh_table_member,
table.yhyh_table_member > tbody,
table.yhyh_table_member > tbody > tr,
table.yhyh_table_member > tbody > tr > th,
table.yhyh_table_member > tbody > tr > td {
	position:relative;
}
table.yhyh_table_member > tbody > tr > th > span {
	vertical-align:middle;
}
table.yhyh_table_member > tbody > tr > th.yh_regist_title,
table.yhyh_table_member > tbody > tr > th.yh_regist_title_top {
	text-align:left;
	padding:15px 0px 0px 0px;
	color:#333333;
	border-bottom:1px solid #999;
	background-image: none;
	background-color: #FFFFFF;
	border-right:0px none;
}
table.yhyh_table_member > tbody > tr > th.yh_regist_title_top {
	padding:0px 0px 0px 0px !important;
}
table.yhyh_table_member > tbody > tr > th.yh_regist_title > h2,
table.yhyh_table_member > tbody > tr > th.yh_regist_title_top > h2 {
	/*
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;*/
	text-align:left;
	font-weight:normal;
	font-size:12px !important;
	color:#000;
	padding:9px 30px 6px 15px;
	width:210px;
	display:inline-block;
	white-space:nowrap;
	border:1px solid #DDD;
	border-bottom:1px solid #A9A9A9;
	vertical-align:bottom;
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F4F4F4));
	background-image: -webkit-linear-gradient(top, #ffffff, #F4F4F4);
	background-image: -moz-linear-gradient(top, #ffffff, #F4F4F4);
	background-image: -ms-linear-gradient(top, #ffffff, #F4F4F4);
	background-image: -o-linear-gradient(top, #ffffff, #F4F4F4);
	background-image: linear-gradient(top, #ffffff, #F4F4F4);
	text-shadow: 1px 1px 0 white;
	/*box-shadow: 0 0px 2px #EEE;
	-webkit-box-shadow: 0 0px 2px #EEE;*/
}


table.yhyh_table_member > tbody > tr > th.yh_regist_title > h2.view_style,
table.yhyh_table_member > tbody > tr > th.yh_regist_title_top > h2.view_style {
	border:0px solid #DDD;
	border-bottom:1px solid #A9A9A9;
	background-color: transparent;
	background-image: none;
	width:auto !important;
	font-weight:bolder;
}

.yh_view_title_top {
	display:block;
	text-align:left;
	padding:13px 0 0 0;
	color:#333333;
	/*border-bottom:1px solid #999;*/
	background-image: none;
	background-color: #FFFFFF;
	border-right:0px none;
}
.yh_view_title_top > h2 {
	/*
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;*/
	text-align:left;
	font-weight:normal;
	font-size:12px !important;
	color:#000;
	padding:9px 0px 6px 0px;
	text-indent:20px;
	width:100%;
	display:inline-block;
	white-space:nowrap;
	border:1px solid #DDD;
	/*border-bottom:1px solid #A9A9A9;*/
	vertical-align:bottom;
	background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F4F4F4));
	background-image: -webkit-linear-gradient(top, #ffffff, #F4F4F4);
	background-image: -moz-linear-gradient(top, #ffffff, #F4F4F4);
	background-image: -ms-linear-gradient(top, #ffffff, #F4F4F4);
	background-image: -o-linear-gradient(top, #ffffff, #F4F4F4);
	background-image: linear-gradient(top, #ffffff, #F4F4F4);
	text-shadow: 1px 1px 0 white;
	/*box-shadow: 0 0px 2px #EEE;
	-webkit-box-shadow: 0 0px 2px #EEE;*/
}


.yh_view_title_top > h2.view_style {
	border:0px solid #DDD;
	border-bottom:1px solid #A9A9A9;
	background-color: transparent;
	background-image: none;
	width:auto !important;
	font-weight:bolder;
}

.yhyh_input_text {
	/*height:25px;*/
	line-height:30px;
	text-align:left;
	padding:0px 0px;
}

.yh_register_width_g {
	line-height:1px;
	padding:0px !important;
	font-size:1px;
	height:1px;
	border-top:1px solid #EEE;
}

.yhyh_input_text span.field_title {
	display:inline-block;
	line-height:1em;
	text-align:left;
	padding:0px 5px 0px 3px;
	vertical-align:middle;
}

.yhyh_input_text span.field_title b {
}

b.yh_essential {
	color:#09F;
	padding:0px 4px 0px 0px;
}
.yhyh_input_text label.placeHolder {
	cursor:text;
	position:absolute;
	visibility:hidden;
}
.yh_address_form {
	border-collapse:collapse;
	border-spacing:0px;
	border:0px;
}
.yh_address_form > tbody > tr > td {
	padding:2px 0px;
}
.yh_middle_submit {
	text-align:right !important;
}
.yh_middle_submit a.a_button {
	text-align:right;
	padding-top:6px;
	padding-bottom:6px;
}


/* 게시판 만들기 */
.yhyh_board_register {
	display:block;
	width:100%;
	text-align:center;
	padding:20px 0px;
}

.yhyh_board_register > form {
	position:relative;
	display:block;
	margin:auto;
	/*background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F6F6F6));
	background-image: -webkit-linear-gradient(top, #F6F6F6, #ffffff, #F6F6F6);
	background-image: -moz-linear-gradient(top, #F6F6F6, #ffffff, #F6F6F6);
	background-image: -ms-linear-gradient(top, #F6F6F6, #ffffff, #F6F6F6);
	background-image: -o-linear-gradient(top, #F6F6F6, #ffffff, #F6F6F6);
	background-image: linear-gradient(top, #F6F6F6, #ffffff, #F6F6F6);
	border-radius: 5px;
	box-shadow:1  1px 1px #EEE;
	border: 1px solid #CCC;*/
	width:820px;
	padding:5px 0px;
	border-image: initial;
	-webkit-box-shadow:1 1px 1px #EEE;
	text-shadow: 1px 1px 0 white;
}

.yhyh_board_register > form > fieldset {
	position:relative;
	display:block;
	width:95%;
	margin:auto;
}

.yhyh_category_list {
	display:block;
	border-top:1px solid #EEE;
	padding:10px !important;
	margin:7px 0 0 0;
}
.yhyh_category_list > li {
	display:block;
	width:400px;
	line-height:2.0em;
	overflow:hidden;
}
.yhyh_category_list > li > span {
	display:inline-block;
	padding:0px 5px 0 5px;
	vertical-align:middle;
}
.yhyh_category_list > li > samll {
	display:inline-block;
	vertical-align:middle;
	padding:0px 5px 0 0;
}
.yhyh_category_list > li > a {
	display:inline-block;
	vertical-align:middle;
	padding:0px 5px 0 0;
}
.yhyh_category_list > li > a.a_button {
	margin:0px 5px 0 0px;
	padding:2px 7px 1px;
	line-height:15px !important;
	vertical-align:middle;
	float:right;
}
.yhyh_category_link_view {
	display:inline-block;
	overflow:hidden;
	white-space:nowrap;
	vertical-align:middle;
}
#category_modify_cancel {
	display:none;
}

